/*
  This will style all the elments to have no space around 
  the edges of the element and have line-spacing 
  of 140% of the font-size of the element.
*/
* {
  margin: 0;

  line-height: 140%;
}
/* 
  This will style the HTML element, also known as the root-element, 
  to have a deafault font-size of 62.5%
  of the deafault font-size for the browser. 
*/
html {
  font-size: 62.5%;
}
/* 
  This styles the body element to have a background color of #121212,
  which will be th emain background color for the entire website.
  This will style the body elemnet and all elements that inherit from the body styling 
  to change their font color to #ededed, which is an off-white, the font size
  to 1.8times the size f the root elemnet's font size, and to use the Arial font before using the 
  Helvetica font. 
  If neither font is available, the browser will use the deafault sans-serif font. 
*/
body {
  background-color: #121212;
  color: #ededed;
  font-size: 1.8rem;
  font-family: Arial, Helvetica, sans-serif;
}

/* 
  This styles the nav elemnt to have a background color of #800808, which is dark red.

*/
nav {
  background-color: #800808;
}

/* 
  This styles the unordered list inside the nav to have no space on the 
  inside of the element to have no bullet points fo rthe list items.
*/
nav ul {
  padding: 0;

  list-style: none;
}
/* 
  This styles all the list items in the nav to dipslay 
  beside each-other, but also allow for chnages to their 
  dimensions, and add 5px of space on the top and bottom of the list items. 
*/
nav li {
  display: inline-block;

  margin: 5px 0;
}

/* 
  This styles all the anchors inside the nav to display beside
  each other, but also allows for chnages to their dimensions.
  For example, it allows to change the heightr of the anchors 
  so that they are 100% of teh size of the parent element,
  the list items in the nav. 
  This styling also adds 15px of space on teh inside of the element
  just above and below the content and 25px on the inside of teh element
  just to the left and right of the content. 
  This styling makes the background color of the anchors to be dark
  gray (#121212) and the font color to be an off-white (#ededed)..
  Lastly, the elements will not have an underline. 
*/
nav a {
  display: inline-block;
  height: 100%;

  padding: 15px 25px;

  background-color: #121212;
  color: #ededed;

  text-decoration: none;
}
/* 
  This styles the anchor element i the nav so that when a user hovers 
  on or to the links, the colors of the anchor swap out. This means 
  the background color will be an off-white and the font color will be 
  a dark gray. 
*/
nav a:hover,
nav a:focus {
  background-color: #ededed;
  color: #121212;
}
/* 
  This styles the anchor elements in the nav so that when a user clicks and holds
  on the anchor, the font becomes heavily bolded. 
*/
nav a:active {
  font-weight: bolder;
}

/* 
  Thsi styles the main heading of the website to add space to the
  top of the heading of 30px, changes the font color to a pastel 
  bright red instead of #f55959, sets the font size to 4.8 times teh size of the 
  root element, and aligns the text to the center. 
*/
h1 {
  margin-top: 30px;

  color: #f55959;

  font-size: 4.8rem;
  text-align: center;
}

section div {
  float: left;

  width: 30%;

  padding: 1.5% 3%;

  background-color: #ededed;
  color: #121212;
}

section figure {
  display: inline-block;

  width: 50%;

  margin-left: 5%;
}

/*
  This styles the section that holds all of my important information to have no 
  spacing on the top and bottom of the section, and spacing that is equal 
  to 5% of the width of teh browser window of the left
  and right sides of the section. 
*/
main {
  margin: 0 5%;
}
/* 
  This styles the inline element that are inside the <span> 
  to bold all the text.


  Mr.Hardman: This styles all the span elements to bold all 
  the text inside the element.
*/
span {
  font-weight: bold;
}
/* 
  This styles the element with an ID of definition
  to underline all the text inside the element.
*/
#definition {
  text-decoration: underline;
}
/* 
  This styles all the elements that are part of the class "musician-name"
  to italisize the text.

  Mr.Hardmar:This styles all the elements with a class of musician-name 
  to italicize the tetxt inside the element. 
*/
.musician-name {
  font-style: italic;
}
